.WindowRoot {
  flow-children: down;
  box-shadow: 0px 0px 8px #111111AA;
}

#TitleBar {
  height: 40px;
  padding: 4px;
  width: 100%;
  background-color: #2F3237;
  flow-children: right;
  box-shadow: 0px 0px 4px #111111AA;
  z-index: 10;
}

.TitleBarControl {
  height: 100%;
}

.TitleBarControlLabel {
  font-size: 32px;
}

#TitleBarLabel {
  horizontal-align: center;
}

#Content {
  width: 100%;
  height: 100%;
  background-color: #35383F;
}
