.MenuEntryRoot {
    width: 100%;
    height: 156px;
    margin: 10px;
}

#ButtonWrap {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  background-color: #10171C;
  padding: 4px;
  flow-children: down;
}

#GeneralInfo {
  width: 100%;
  height: 100px;
  flow-children: right;
}

.GenrealInfoLabel {
  color: #8A9EB8;
}

#AbilityImage {
  width: 100px;
}

#InfoPanel {
  width: 100%;
  flow-children: down;
}

#StatInfo {
  height: 48px;
  width: 100%;
  margin-top: 6px;
  border-top: 1px solid #8A9EB8;
  padding: 2px;
  flow-children: right;
}

.StatInfoLabel {
  color: #222D35;
}
