.MenuContentRoot {
  width: 100%;
  height: 100%;
  flow-children: down;
  background-image: url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translatex( 540px );
  transition-property: transform;
  transition-duration: 0.1s;
  margin-bottom: 200px;
  margin-top: 64px;
  overflow: clip clip;
  padding: 16px;
}

.CategoryLabel {
  font-size: 30px;
  text-overflow: shrink;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 0px 3 #00000066;
  color: #D0D6F7;
  width: 20px;
  border-right: 2px solid #D0D6F7;
}

.Category {
  width: 100%;
  flow-children: right;
  margin-top: 16px;
}

.CategoryRow {
  width: 100%;
  flow-children: right-wrap;
}

.visible
{
  transform: translatex( 0px );
}
