.MenuEntryRoot {
  margin-left: 8px;
}

#ButtonWrap {
  flow-children: down;
  width: 140px;
  height: 200px;
}

.Locked {
  wash-color: #AA3355;
}

#StatInfo {
  flow-children: right;
  width: 100%;
}

.ResourcePanel {
  flow-children: right;
}

#BuildingImage {
  width: 140px;
  height: 140px;
  border: 4px solid #333333;
  horizontal-align: center;
  background-size: 100% 100%;
}

.ResourceIcon {
  background-size: 100% 100%;
  vertical-align: center;
  margin-right: 2px;
  width: 24px;
  height: 24px;
}

Label {
  color: #FEFEFE;
  font-size: 20px;
}

#Name {
  font-size: 28px;
}

#LumberIcon {
  background-image: url("file://{images}/custom_game/icons/lumber_icon.psd");
}

#GoldIcon {
  background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
}

#GoldPanel {
  horizontal-align: right;
}
