.MenuEntryRoot {
  margin-left: 8px;
  margin-bottom: 8px;
}

#ButtonWrap {
  flow-children: down;
  width: 112px;
}

.Locked {
  wash-color: #AA3355;
}

#StatInfo {
  flow-children: right;
  width: 100%;
  vertical-align: bottom;
  padding: 2px;
  background-color: #333344CF;
}

.ResourcePanel {
  flow-children: right;
}

#BuildingImage {
  width: 112px;
  height: 112px;
  horizontal-align: center;
  background-size: 100% 100%;
  background-color: #333333;
  flow-children: down;
}

.ResourceIcon {
  background-size: 100% 100%;
  vertical-align: center;
  margin-right: 2px;
  width: 24px;
  height: 24px;
}

Label {
  color: #FEFEFE;
  font-size: 16px;
}

#Name {
  font-size: 14px;
  padding: 2px;
  horizontal-align: center;
}

#LumberIcon {
  height: 20px;
  width: 20px;
  background-image: url("file://{images}/custom_game/icons/lumber_icon.psd");
}

#GoldIcon {
  height: 20px;
  width: 20px;
  background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
}

#GoldPanel {
  horizontal-align: right;
}
