.ToolbarSideRoot {
  width: 100%;
  height: 100%;
}

#ToolbarControls {
  horizontal-align: right;
  vertical-align: bottom;
  flow-children: right;
  z-index: 10;
  margin-right: 260px;
}

#ToolbarContent {
  width: 540px;
  height: 100%;
  horizontal-align: right;
}

.ToolbarButton {
  height: 102px;
  width: 102px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65dd ), to( #2B3445dd ) );
  background-image: url("s2r://panorama/images/control_icons/camera_topdown_psd.vtex");
  background-size: 100% 100%;
  border-radius: 2px;
}

.Highlight {
  box-shadow: #ffd7008f -6px -6px 36px 12px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffd700dd ), to( #ffd7008f ) );
}
