.FrostivusHUD {
  width: 100%;
  height: 100%;
}

#ResourceRoot {
  width: 200px;
  height: 100%;
  margin-top: 160px;
  flow-children: down;
}

.ResourceOverview {
  flow-children: right;
}

#BuildTutorial {
  vertical-align: bottom;
  horizontal-align: center;
  margin-bottom: 400px;
}

#BuildTutorialLabel {
  font-size: 24px;
  color: white;
}
